   

<head>
<title>Bloggers</title>
<link rel="stylesheet" type="text/css" href="myStyle">
<style type="text/css">
  
div {
    background-color: lightgrey;
    width: 400px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}

</style>


<h1>Listing articles</h1>

</head>

<body> 

<div>
    <table>
         <tr>
         <th>Title</th>
         <th>Text</th>
          </tr>
              
      <% @articles.each do |article| %>
          <tr>
               <td><%= article.title %></td>
               <td><%= article.text %></td>
               <td><%= link_to 'Show', article_path(article) %></td>
          </tr>
      <% end %>

    </table>
</div> 

<div> 
   
    <a href="http://www.robinsharma.com/" target="_blank">Robin Sharma- Personality Development Coach</a>


</div>


</body>




